
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/*
.ssh/*
.DS_Store
.editorconfig
LICENSE
.github
.idea
.ssh
###< symfony/framework-bundle ###
